@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Pretendard:wght@400;500;600&display=swap");

/* Design Token */
:root {
  /* Refernce Token */
  /* Color */
  /* Primary */
  --purple-100: #d7ccff;
  --purple-200: #af99ff;
  --purple-300: #8766ff;
  --purple-400: #5f33ff;
  --purple-500: #3700ff;
  --purple-600: #2c00cc;
  --purple-700: #210099;
  --purple-800: #160066;
  --purple-900: #0b0033;

  /* Secondary */
  --yellow-100: #fdffe2;
  --yellow-200: #fbffaf;
  --yellow-300: #f8ff7c;
  --yellow-400: #f5ff49;
  --yellow-500: #f3ff16;
  --yellow-600: #d6e200;
  --yellow-700: #a6af00;
  --yellow-800: #757c00;
  --yellow-900: #454900;
  --yellow-1000: #151600;

  /* Nutral */
  --gray-50: #ffffff;
  --gray-100: #e6e6e6;
  --gray-150: #cccccc;
  --gray-200: #b3b3b3;
  --gray-250: #999999;
  --gray-300: #808080;
  --gray-350: #666666;
  --gray-400: #4d4d4d;
  --gray-450: #333333;
  --gray-500: #1a1a1a;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;

  /* Font Size */
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 22px;
  --font-3xl: 24px;
  --font-4xl: 28px;
  --font-5xl: 30px;
  --font-6xl: 32px;
  --font-7xl: 34px;
  --font-8xl: 36px;
  --font-9xl: 38px;

  /* System Token */
  /* Background */
  --color-bg-primary: var(--gray-50);
  --color-bg-inverse: var(--gray-500);

  /* Text */
  --color-text-primary: var(--gray-500);
  --color-text-inverse: var(--gray-50);

  /* System */
  /* Danger */
  --danger-default: #e28484;
  --danger-bg: #f6d6d6;
  --danger-text: #cf3131;
  /* Warning */
  --warning-default: #816e37;
  --warning-text: #681919;
  --warning-bg: #dbcea9;
  /* Success */
  --success-default: #166145;
  --success-bg: #baefdb;
  --success-text: #0a6d48;
  /* Warning */
  --warning-default: #0057c9;
  --warning-text: #c9e0ff;
  --warning-bg: #002b63;
  /* Information */
  --information-default: #0057c9;
  --information-bg: #c9e0ff;
  --information-text: #002b63;

  /* Accent */
  --green-10: #d4e9d3;
  --green-10: #b3d7b2;
  --green-10: #93c690;
  --green-10: #72b56e;
  --green-10: #559f51;
  --green-10: #437d40;

  /* Resposive */
  /* Layout Spacing */
  --layout-padding-sm: 16px;
  --layout-padding-md: 24px;

  /* Container */
  --container-max: 1280px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--gray-50);
  display: flex;
  justify-content: center;
}

.wrap {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  background: var(--gray-50);
  display: flex;
  flex-direction: column;
}

/* 상단 헤더 */
.header {
  background: var(--purple-400);
  padding: 87px 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-50);
}

.header img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

/* 프로필 */
.profile {
  background: var(--gray-50);
  padding: 12px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing-12);
}

.log-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-size: 13px;
  color: var(--yellow-1000);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}
.logout img {
  width: 16px;
  height: 16px;
}

/* 이미지 박스 */
.imgbox {
  position: relative;
  margin-bottom: var(--spacing-12);
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 16px;
  object-fit: cover;
}

.edit {
  left: 70px;
  position: absolute;
  bottom: -6px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: var(--purple-400);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit img {
  width: 20px;
  height: 20px;
}

.name {
  font-size: var(--font-md);
  font-weight: 700;
  color: var(--gray-500);
  margin-bottom: 4px;
}

.email {
  font-size: var(--font-sm);
  color: var(--gray-250);
}

/* 배너 */
.banner {
  background: var(--purple-400);
  height: 60px;
}

/* 세팅 */
.settings {
  padding: 24px 20px 80px;
  flex: 1;
}

.title {
  margin-top: 10px;
  font-size: var(--font-xl);
  font-weight: 700;
  color: var(--purple-800);
}

.sub {
  font-size: var(--font-sm);
  color: var(--purple-800);
  margin-bottom: var(--spacing-20);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 16px 0;
  font-size: var(--font-sm);
  color: var(--gray-500);
  border-bottom: 1px solid var(--gray-100);
  cursor: pointer;
}

.item:hover {
  color: var(--gray-500);
}

/* 하단 탭바 */

.bottom-nav {
  display: flex;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  border-top: 1.5px solid #9f9f9f;
  background: var(--gray-100);
  padding: 8px 0 14px;
  flex-shrink: 0;
}

.nav-btn {
  flex: 1;
  max-width: 80px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  color: var(--gray-50);
  transition: color 0.2s;
}

.nav-btn.active {
  border-radius: 12px;
  background: var(--gray-50);
  border: 1px solid #f0f0f0;
}

.nav-btn .icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn .icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.nav-btn .lbl {
  font-size: 11px;
  font-weight: 600;
  color: var(--purple-900);
}
